#button{
    text-decoration: none;
    background-color: #F07b7b;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-family: comfortaa;
    font-size: 28px;
    font-weight: 600;
    outline: none;
    transition: transform 1s;
}

#button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(255, 246, 246, 0.15);
    border-bottom: none;

}