.copy__container {
  height: 2.5rem;
  background-color: #404267;
  margin-bottom: .5rem;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .25), 0px -1.2rem 30px rgba(0, 0, 0, .35) inset;
}

.copy__container:hover {
  cursor: pointer;
  background-color: #4e507a;
}

.copy__btn {
  width: 100%;
  color: #FFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy__btn:hover {
  cursor: pointer;
}

.copy__label {
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  font-family: 'Comfortaa';
}

.copy-roadmap {
  font-size: 1.5rem;
}

.copy-roadmap:hover, .add-row__btn:hover {
  cursor: pointer;
}

.add-row__btn svg {
  color: #404267;
  font-size: 1.5rem;
}

.add-row__btn {
  margin-left: 7px;
}

.ARlabel {
  display: none;
  width: 7rem;
  font-size: .8rem;
  margin-left: 8px;
}

.add-row__btn:hover+.ARlabel {
  display: block;
  position: absolute;
  bottom: -25px;
}

.AR__container {
  width: 20%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

.preview-pos {
  max-width: 70%;
  min-width: 70%;
}
