.LISU__container {
  height: 100%;
  background-image: url('./../../assets/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
  background-size: cover;
}

.LISU__wrapper {
  display: inline-flex;
  padding-bottom: 3rem;
  flex-direction: column;
  width: 27rem;
  position: absolute;
  left: 15vw;
  top: 28vh;
  background-color: #adb7c3;
  border-radius: 10px;
  box-shadow: -2px 4px 5px rgba(0, 0, 0, .2);
}

.form__header {
  height: 12.5%;
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.form__header>button {
  height: 3.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: #e0e0e073;
  font-family: 'Comfortaa';
}

.form__header>button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form__header>button:not(:first-of-type) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form__header>button>p {
  display: inline-block;
}

.form__header>button.selected {
  background-color: rgba(72, 142, 248, 0.822);
  box-shadow: 0px -20px 50px rgba(0, 0, 0, .25) inset;
  border-bottom: 4px solid rgba(0, 0, 0, 0.315);
  border-top: 1px solid #cecccc9c;
  color: #FFF;
}

.form__header>button:not(.selected) {
  background-color: #FFF;
  border-top: 4px solid rgba(139, 139, 139, 0.123);
  border-bottom: 1px solid #cecccc9c;
}