.discover-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.category-icon {
  align-self: center;
  font-size: 40px;
}

#discover-title {
  padding-top: 2em;
  font-weight: 600;
}

#discover-user {
  padding-top: 15px;
  font-weight: 100;
  color: #F07B7B;
  font-size: 20px;
}

/* FADE IN ANYMATION */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:3; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:3; } }
@keyframes fadeIn { from { opacity:0; } to { opacity: 3; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 0.7;
  -moz-animation:fadeIn ease-in 0.7;
  animation:fadeIn ease-in 0.7;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}
