.container {
  display: flex;
  padding-top: 10rem;
  flex-wrap: wrap;
<<<<<<< HEAD
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.roadmaps {
=======
  padding-top: 12em;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-evenly;
  width: 100%;
}

#delete-button {
  align-self: flex-end;
}

#middle {
  padding-top: 40%;
  align-self: center;
  flex-grow: 1;
}

#delete-x {
  display:none;
  cursor: pointer;
}


.roadmap-container {
>>>>>>> 3e79dfc915eea3b2ebe62ca31897abc7c91c0592
  display: flex;
  justify-content: center;
  flex-direction: column;
<<<<<<< HEAD
  text-align: center;
  border: 1px solid black;
  height: 40vh;
  width: 30%;
  color: black;
  text-decoration: none;
  margin-bottom: 2rem;
  border-radius: 8px;
  font-family: 'Comfortaa';
  font-size: 1.5rem;
  text-transform: capitalize;
  word-spacing: 10rem;
}
=======
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: -2px 4px 5px rgba(0, 0, 0, .2);
  height: 450px;
  font-size: 25px;
  font-family: comfortaa;
  color: #201E45;
  width: 450px;
  text-decoration: none;
}

.roadmap-container:hover {
  transition: 1s;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
  color: #F07B7B;
}

.roadmap-container:hover #delete-x {
  display: block;
}
>>>>>>> 3e79dfc915eea3b2ebe62ca31897abc7c91c0592
