.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-around;
  width: 100%;
}

#delete-button {
  align-self: flex-end;
}

#middle {
  padding-top: 40%;
  align-self: center;
  flex-grow: 1;
}

#delete-x {
  display:none;
  cursor: pointer;
}


.roadmap-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: -2px 4px 5px rgba(0, 0, 0, .2);
  height: 450px;
  font-size: 25px;
  font-family: comfortaa;
  color: #201E45;
  width: 450px;
  text-decoration: none;
}

.roadmap-container:hover {
  transition: 1s;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
  color: #F07B7B;
}

.roadmap-container:hover #delete-x {
  display: block;
}
