.external__container {
  height: 100%;
}

.banner {
  height: 10vh;
}

.LISU__container {
  height: 90vh;
  background-image: url('./../../assets/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
  background-size: cover;
  font-family: 'Comfortaa';
}

.LISU__wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 25rem;
  height: 28rem;
  position: absolute;
  left: 10vw;
  top: 20vh;
  /* background-color: #c0c0c057; */
}

.form__header {
  height: 12.5%;
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(128, 62, 62, 0.2);
}

.form__header>div {
  height: 3.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: #e0e0e073;
}

.form__header>div:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form__header>div:not(:first-of-type) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form__header>div>p {
  display: inline-block;
}

.form__header>div.selected {
  background-color: rgba(72, 142, 248, 0.822);
  box-shadow: 0px -20px 50px rgba(0, 0, 0, .25) inset;
  border-bottom: 4px solid rgba(0, 0, 0, 0.315);
  border-top: 1px solid #cecccc9c;
}

.form__header>div:not(.selected) {
  background-color: #FFF;
  border-top: 4px solid rgba(139, 139, 139, 0.123);
  border-bottom: 1px solid #cecccc9c;
}