.topic-details-card {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.block {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.title-block__wrapper, .description-block__wrapper, .resources-block__wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
}

.block h4 {
  padding-bottom: .5rem;
  width: 40%;
  font-weight: 700;
}

.block textarea {
  height: 4vh;
  overflow-y: scroll;
  overflow: hidden;
  border: none;
  padding: .75rem;
  border-radius: 5px;
}

.block textarea:nth-of-type(3) {
  border-radius: none;
}