body {
  background-color: #fbfbfb !important
}

.roadmap-tree-container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 65%;
  align-items: center;
}

.roadmap-detail__container {
  font-family: 'Comfortaa';
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.roadmap-detail__container.no-prev {
  height: 100%;
}

.background-tree {
  height: 100vh;
  background-image: url('./../../assets/roadmaptree.png');
  background-size: cover;
}